APP_ENV=development
APP_PORT=8080
APP_KEY=

DB_DRIVER=mysql
DB_HOST=
DB_NAME
DB_USERNAME=
DB_PASSWORD=
DB_IDLE=10
DB_MAX=100
DB_LIFETIME=300

LOG_LEVEL=debug

REDIS_HOST=localhost
REDIST_PORT=
REDIS_USERNAME=
REDIST_PASSWORD=

CORS_ALLOW_ORIGINS="http://localhost:8000"
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_HEADERS="Content-Type,Authorization,X-Requested-With,Accept,Origin,Content-Length"
CORS_ALLOW_METHODS="GET,POST,PUT,PATCH,DELETE,OPTIONS"
